/*
 * 
 * From hover.css
 * Hover.css (http://ianlunn.github.io/Hover/)
 *
 */

/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  /*16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }*/

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-bottom-right {
  /*16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }*/

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Wobble To Bottom Right */
@-webkit-keyframes rotate-and-wobble {
  
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  16.65% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  33.3% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  49.95% {
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
  }

  66.6% {
    -webkit-transform:  rotate(0deg);
    transform:  rotate(0deg);
  }

  83.25% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotate-and-wobble {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  16.65% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  33.3% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  49.95% {
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
  }

  66.6% {
    -webkit-transform:  rotate(0deg);
    transform:  rotate(0deg);
  }

  83.25% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotate-and-wobble,.on-hover-rotate-and-wobble:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: rotate-and-wobble;
  animation-name: rotate-and-wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
