	/* Typography updates */

	@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

	body.new-design {
		font-size: 1.5rem;
		font-weight: 400;
		color: #3a3c3d;
	}

	.new-design h1{
		font-size: 4.4rem;
		font-weight: 900;
		line-height: 4.6rem;

		@media(min-width: 750px) {
			font-size: 6.3rem;
			line-height: 6.5rem;
		}
	}

	.new-design h2{
		font-size: 3.2rem;
		font-weight: 900;
		margin-bottom: 2.2rem;
		line-height: 3.2rem;

		@media(min-width: 750px) {
			font-size: 4.4rem;
			line-height: 4.6rem;
		}

	}

	.new-design h3{
		font-size: 2.3rem;
		font-weight: 900;
		line-height:3.2rem;
	}

	.new-design a {
		font-size: 15px;
		font-weight: 700;
	}

	.new-design footer a {
		font-weight: 400;
		font-size: 1.3rem;
	}

	/* End typography updates */

	#logo a {
		background-image: url(images/crunch-logo.svg)
	}

	.group-wrapper.full-width {
		width: 100%;
		padding-top: 20px;
	}

	@media(min-width: 750px){
		.group-wrapper.full-width {
			padding-top: 0;
		}
	}

	.group-wrapper.grey-bg {
		background-color: #ebecec;
	}

	.group-wrapper.light-grey-bg {
		background-color: #F4F5F5;
	}

	.title-area {
		margin-bottom:0;
		background: rgba(0, 0, 0, 0) url("images/header-banner.jpg") no-repeat scroll 50% 50% / cover ;
    	color: #ffffff;
		text-align: center;
		position: relative;
	}

	.promo-cta {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #21A9E1;
		color: #fff;
		width: 100%;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: left;

	}

	.promo-cta-inner {
		position: relative;
		-webkit-transform-style: preserve-3d;
  		-moz-transform-style: preserve-3d;
  		transform-style: preserve-3d;
	}

	.promo-cta-inner p{
		padding: 20px 10px;
	}

	a.promo-cta-arrow {
		position: absolute;
		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
		right: 0;
		font-size: 2.5rem;
		padding: 0 10px 0 20px;
		color: #fff;
	}

	a.promo-cta-arrow .icon{
		font-size: 2.5rem;
	}

	@media (min-width: 750px) {
		.promo-cta {
			font-size: 2rem;
			text-align: center;
		}

		.promo-cta b {
			font-size: 2.6rem;
			padding: 0 3px;
		}

		.promo-cta-arrow {
			display: none;
		}
	}

	.title-area {
		background-image: url("images/header-banner-750px.jpg");
	}

	@media (min-width: 750px) {
		.title-area {
			background-image: url("images/header-banner.jpg");
		}
	}

	@media (min-width: 1023px) {
		.title-area {
			background-image: url("images/header-banner.jpg");
		}
	}

	@media (min-width: 1079px) {
		.title-area {
			background-image: url("images/header-banner.jpg");
			background-position: 25% 25%;
		}
	}

	@media (min-width: 1600px) {
		.title-area {
			background-image: url("images/header-banner.jpg");
			background-position: 10% 25%;
		}
	}

	.title-area .group {
		padding-top: 200px;
		padding-bottom: 140px;
	}

	.title-area h1.title-area-headline {
		text-align: center;
		font-weight: 700;
	}

	.title-area h1.title-area-headline br{
		margin: 8px 0;
	}

	@media (min-width: 750px) {
		.title-area h1.title-area-headline br{
			display: none;
		}
	}

	.intro p, .intro p a,
	.not-trad-acc p {
		font-size: 2.1rem;
		line-height: 3.5rem;
	}

	.intro p,
	.not-trad-acc p  {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	@media(min-width: 750px) {
		.intro p, .intro p a,
		.not-trad-acc p {
			font-size: 3.2rem;
			line-height: 4.5rem;
		}

		.intro p,
		.not-trad-acc p  {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
	}

	.real-acc {
		text-align: center;
		background-color: #f4f5f5;
		width: 100%;
		margin-bottom: 0;
		padding: 0;
	}

	@media (min-width: 750px) {
		.real-acc {
			padding: 0 15px 60px;
		}
	}

	.real-acc .row{
		margin-left: auto;
		margin-right: auto;
		padding-top: 30px;
		margin-bottom: 0;
	}

	@media (min-width: 750px) {
		.real-acc .row {
			width: 535px;
			padding-top: 60px;
		}
	}

	@media (min-width: 1023px) {
		.real-acc .row {
			width: 789px;
		}
	}

	@media (min-width: 1079px) {
		.real-acc .row {
			width: 789px;
		}
	}

	@media (min-width: 1365px) {
		.real-acc .row {
			width: 1088px;
		}
	}

	@media (min-width: 1600px) {
		.real-acc .row {
			width: 1280px;
		}
	}

	.real-acc .real-acc-inner {
		padding: 0 15px;
		text-align: left;
	}

	@media (min-width: 750px) {
		.real-acc .real-acc-inner {
			padding: 0;
			text-align: center;
		}
	}

	.real-acc h2{
		margin-bottom: 4rem;
	}
	.real-acc .acc-grid {
		margin-bottom: 0;
		padding-left: 0
	}
	.real-acc .acc-grid .acc-grid-item {
		margin-bottom: 0;
		position: relative;
		-webkit-perspective: 800px;
		perspective: 800px;
		-webkit-perspective-origin: center center;
		perspective-origin: center center;

	}
	.real-acc .acc-grid .acc-grid-item .details-overlay {
	    color: #fff;
	    margin: 0 7.5%;
	    height: 100%;
	    padding: 0;
	    position: absolute;
	    width: 85%;
	   	opacity: 1;
	   	bottom: -10%;
	}

	@media (max-width: 750px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay {
			width: 95%;
			margin: 0 2.5%;
		}
	}

	.real-acc .acc-grid .acc-grid-item:hover .details-overlay {
		opacity: 1;
	}

	.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner {
		position: relative;
		height: 100%;
	}

	.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner p {
		position: absolute;
		top: 50%;
		height: 50%;
		font-size: 1.5rem;
		line-height: 1.9rem;
		padding: 4% 10%;
		opacity:0;
		background-color: rgba(58, 60, 61, 0.8);
		-webkit-transition: 0.25s all ease;
	   	transition: 0.25s all ease;
	   	width: 100%;
	}

	@media(min-width: 750px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner p {
			font-size: 1.4rem;
		}
	}
	@media(min-width: 750px) {
		.real-acc .acc-grid .acc-grid-item:hover .details-overlay .details-overlay-inner p {
			top: 0;
			height: 100%;
			opacity: 1;
		}
	}

	@media(min-width: 1079px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner p {
			padding: 6% 10%;
		}
	}

	@media(min-width: 1365px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner p {
			padding: 8% 10%;
			font-size: 1.5rem;
		}
	}

	@media(min-width: 1600px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner p {
			padding: 15% 10%;
		}
	}

	.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner h4 {
	    background-color: rgba(58, 60, 61, 1);
	    bottom: 0;
	    opacity: 1;
	    font-size: 1.5rem;
	    font-weight: 400;
	    left: 0;
	    margin-bottom: 0;
	    padding: 10px 5px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    -webkit-transition: 0.15s all ease;
	   	transition: 0.15s all ease;
	   	-webkit-transform:scale(1);
		transform:scale(1);
	}

	@media(min-width: 750px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner h4 {
			 opacity: 0;
			 font-size: 1.4rem;
		}
	}

	@media(min-width: 750px) {
		.real-acc .acc-grid .acc-grid-item:hover .details-overlay .details-overlay-inner h4 {
			opacity: 1;
			-webkit-transform:scale(1);
			transform:scale(1);

		}
	}

	@media(min-width: 1365px) {
		.real-acc .acc-grid .acc-grid-item .details-overlay .details-overlay-inner h4 {
			font-size: 1.5rem;
		}
	}

	.real-acc .acc-grid .acc-grid-item img {
		vertical-align: top;
		max-width: 100%;
		width: 100%;
	}

	@media(min-width: 750px) {
		.real-acc .acc-grid .acc-grid-item img {
			width: auto;
		}
	}

	.real-acc .acc-grid .acc-grid-item:hover img {
	}

	.great-software .row {
		margin-top: 40px;
	}


	.we-work-well {
		text-align: left;
	}

	@media(min-width: 750px) {
		.we-work-well {
			text-align: center;
		}
	}

	.we-work-well .row{
		margin-top: 40px;
	}

	.quote-cards {
		margin-top: 40px;
		text-align: center;
		overflow-x: scroll;
	}

	.quote-cards-inner {
		width: 350%;
	}

	@media(min-width: 750px) {
		.quote-cards {
			overflow: visible;
		}

		.quote-cards-inner {
			width: auto;
		}
	}

	.quote-card .quote-card-body:hover .svg-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation-name: hvr-wobble-to-bottom-right;
	animation-name: hvr-wobble-to-bottom-right;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	}

	.quote-card-header {
	}

	.quote-card-header .wistia_embed [id$='thumb_container'] {
		max-width: 100%;
		min-width: 100%;
		height: auto !important;
	}

	.quote-card-header img{
		vertical-align: top;
		width: 100%;
	}

	.video-thumbnail-trigger {
		position: relative;
		display: block;
	}

	.video-thumbnail-trigger:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(44, 47, 47, 0.4);
		color: #e2e3e3;
		text-shadow: none;
		-webkit-transition: 0.5s ease;
		transition: 0.5s ease;
		opacity: 0;
	}

	.video-thumbnail-trigger:hover:before {
		background-color: rgba(44, 47, 47, 0.6);
		color: #fff;
		opacity: 1;
	}

	.video-thumbnail-trigger.play-button-icon:before {
		font-size: 380%;
		line-height: 220%;
		font-family: 'icomoon';
		content: '\e639';
		font-weight: 400;
	}

	@media(min-width:750px) {
		.video-thumbnail-trigger.play-button-icon:before {
			font-size: 120%;
		}
	}

	@media(min-width:1023px) {
		.video-thumbnail-trigger.play-button-icon:before {
			font-size: 220%;
		}
	}

	@media(min-width:1365px) {
		.video-thumbnail-trigger.play-button-icon:before {
			font-size: 320%;
		}
	}

	@media(min-width:1600px) {
		.video-thumbnail-trigger.play-button-icon:before {
			font-size: 360%;
		}
	}

	.quote-card-body {
		background-color: #fff;
		padding: 10px;
		font-style: italic;
		height: auto;
	}

	@media (min-width: 1023px) {
		.quote-card-body {
			height:220px;
		}
	}

	@media (min-width: 1365px) {
		.quote-card-body {
			height:160px;
		}
	}

	@media (min-width: 1600px) {
		.quote-card-body {
			height:140px;
		}
	}

	.quote-card-footer {
		background-color: #fff;
		padding: 10px 10px 5px;
	}

	.quote-card-footer .star-rating{
		color: #7250A0;
		margin: 10px 0;
	}

	.quote-card-footer p{
		font-weight:700;
	}

	.quote-card-body .svg-icon{
		margin-top: -38px;
		position: relative;
		 -webkit-transition: .3s all ease;
	   	transition: .3s all ease;
	}

	.quote-card-body .svg-icon.rotate{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.pop-art .row {
		margin-bottom: 0px;
	}

	.pop-art-grid {
		margin: 40px 0 60px;
		position: relative;
	}

	.pop-art-grid .pop-art-grid-slider-control {
		display: none;
		position: absolute;
		top:45%;
		background-color: #fff;
		padding: 10px 5px;
		font-family: sans-serif;

		@media(min-height: 750px) {
			display: block;
		}
	}

	.pop-art-grid .pop-art-grid-slider-control.left {
		left:-50px;
	}

	.pop-art-grid .pop-art-grid-slider-control.right {
		right:-50px;
	}

	.pop-art-grid .pop-art-grid-item {
		position: relative;
		display: table;
	}

	.pop-art-grid .pop-art-grid-item .pop-art-grid-item-inner {
		position: relative;
		overflow: hidden;
		display: table-cell;
		width:30%;
		background-repeat: no-repeat;
		background-size: cover;
	}

/*	.pop-art-grid .pop-art-grid-item.item-1 .pop-art-grid-item-inner {
		background-image:url(images/pop-art-1-mini.jpg);
	}

	.pop-art-grid .pop-art-grid-item.item-2 .pop-art-grid-item-inner {
		background-image:url(images/pop-art-2-mini.jpg);
	}

	.pop-art-grid .pop-art-grid-item.item-3 .pop-art-grid-item-inner {
		background-image:url(images/pop-art-3-mini.jpg);
	}

	.pop-art-grid .pop-art-grid-item.item-4 .pop-art-grid-item-inner {
		background-image:url(images/pop-art-4-mini.jpg);
	}*/

	.pop-art-grid .pop-art-grid-item .pop-art-grid-item-inner img{
		height: 140px;
		vertical-align: top;
		-webkit-transform: scale(1);
		transform: scale(1);
		 -webkit-transition: 0.3s all ease;
	   	transition: 0.3s all ease;
	   	width:100%;
	   	/*display: none;*/
	}

	.pop-art-grid .pop-art-grid-item .pop-art-body {
	    padding: 10px;
	    background-color: #fff;
	    position: relative;
	    display: block;
	    height: 250px;
	    /*width:70%;
	    display: table-cell;*/
	}

	.pop-art-grid .pop-art-grid-item .pop-art-body a {
		color:#3a3c3d;
	}

	.pop-art-grid .pop-art-grid-item .pop-art-body a:hover {
		color:#21a9e1;
	}

	.pop-art-grid .pop-art-grid-item .pop-art-body p {
		/*display: none;*/
	}

	.pop-art-grid .pop-art-grid-item .pop-art-body .post-time {
	}


	@media(min-width: 750px) {
		.pop-art-grid .pop-art-grid-item {
			display: block;
		}
		.pop-art-grid .pop-art-grid-item .pop-art-grid-item-inner {
			display: block;
			width: auto;
			background-image: none;
		}

		.pop-art-grid .pop-art-grid-item .pop-art-grid-item-inner img {
			display: block;
		}
		.pop-art-grid .pop-art-grid-item .pop-art-body {
			display: block;
			width: auto;
			height: 275px;
		}
		.pop-art-grid .pop-art-grid-item .pop-art-body p {
			display: block;
		}
		.pop-art-grid .pop-art-grid-item:hover .pop-art-grid-item-inner img {
			 -webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
		.pop-art-grid .pop-art-grid-item .pop-art-body .post-time {
			position: absolute;
			padding:10px 0;
			bottom:20px;
		}

	}

	.stats {
		background-color: #fff;
	}
	.stats .row{
		text-align: center;
		margin-top: 60px;
	}

	.stats .row .main-stat-line b{
		font-size: 4.4rem;
		color:#7351A1;
		font-weight: 900;
	}

	@media(min-width: 750px) {
		.stats .row .main-stat-line b{
			font-size: 6.3rem;
			font-weight: 700;
		}
	}

	.stats .row .main-stat-line b .pound-sign{
		vertical-align: top;
    	display: inline-block;
    	position: relative;
    	line-height: 6.4rem;
	}

	.stats .row .main-stat-line b .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
		line-height: 6.4rem;
	}

	.stats .stat-boxes {
		margin: 40px 0;
	}

	.stats .stat-boxes .stat-box {
		position: relative;
		opacity:1;
		transform: scale(1);
		transition: all 0.3s ease;
		margin-bottom: 0;
	}

	@media(min-width: 750px) {
		margin-bottom: 20px;
		opacity:0;
		transform: scale(0.7);
	}

	.stats .stat-boxes .stat-box.scale-in {
		opacity:1;
		transform: scale(1);
	}

	.stats .stat-boxes .stat-box.light-gray-bg {
		background-color: #F4F5F5;
	}

	.stats .stat-boxes .stat-box.dark-gray-bg {
		background-color: #E2E3E3;
	}

	.stats .stat-boxes .stat-chart {
		margin-top: 120px;
	}

	.stats .stat-boxes .stat-chart svg {
		width:100%;
		vertical-align: top;
		display: none;
	}

	@media (min-width: 750px) {
		.stats .stat-boxes .stat-chart svg {
			display: block;
		}
	}

	.stats .stat-boxes .stat-box .stat-content{
		position: absolute;
		top: 0;
		width: 100%;
		padding: 20px;
	}

	.stats .stat-boxes .stat-box .stat-content .stat-content-inner{
		position: relative;
		text-align: center;
	}

	.graph-stroke {
		opacity: 0;
	}

	.graph-fill {
  		opacity:0;
	}

	.graph2 .graph-stroke {
		stroke-opacity: 0.8;
	}

	.graph2 .graph-fill {
		fill-opacity:0.8;
	}

	.stats .stat-boxes .stat-box .stat-chart.bar-chart svg rect{
		opacity: 0;
	}

	.stats .stat-boxes .stat-box .stat-chart.pie-chart svg path{
		opacity: 0;
	}

	.group-wrapper.marketplace-bg {
		background:none;
	}

	@media (min-width: 1023px) {
		.group-wrapper.marketplace-bg {
			background: url(images/marketplace-bg-1023px.svg) no-repeat top left;
	  		background-size: contain;
	  		min-height: 380px;
	  		overflow: hidden;
		}
	}

	@media (min-width: 1079px) {
		.group-wrapper.marketplace-bg {
			background: url(images/marketplace-bg-1079px.svg) no-repeat top left;
	  		background-size: contain;
	  		min-height: 380px;
	  		overflow: hidden;
		}
	}

	@media (min-width: 1365px) {
		.group-wrapper.marketplace-bg {
			background: url(images/marketplace-bg-1365px.svg) no-repeat top left;
	  		background-size: contain;
	  		min-height: 380px;
	  		overflow: hidden;
		}
	}

	@media (min-width: 1600px) {
		.group-wrapper.marketplace-bg{
			background: url(images/marketplace-bg-1600px.svg) no-repeat top left;
			min-height: 400px;
		}
	}

	.marketplace-image {
		position: relative;
		margin-bottom: 10px;
		text-align: center;
	}

	.marketplace-image .no-parallax{
		display: inline-block;
	}

	.marketplace-image .parallax{
		display: none;
	}

	@media(min-width: 1023px) {

		.marketplace-image .no-parallax{
			display: none;
		}

		.marketplace-image .parallax{
			display: block;
		}

		.marketplace-image {
			text-align: left;
		}

		.marketplace-image img{
			position: absolute;
			height: 650px;
		}
	}

	@media (min-width: 1079px) {
		.marketplace-image img{
			left: -120px;
			height: 1200px;
		}
	}

	@media (min-width: 1365px) {
		.marketplace-image img{
			left: -80px;
			height: 700px;
		}
	}

	@media (min-width: 1600px) {
		.marketplace-image img{
			height: 650px;
			padding-top: 200px;
			left: -15px;
		}
	}


	.marketplace-content {
		padding: 10px 0px;
	}

	.marketplace-content h2{
		text-align: center;
	}

	@media(min-width: 750px) {

		.marketplace-content{
			padding: 10px 40px;
		}

		.marketplace-content h2{
			text-align: left;
		}
	}

	@media (min-width: 1600px) {
		.marketplace-content {
			padding: 10px 30px;
		}
	}

	.group-wrapper.chorus-bg {
		background: none;
	}

	@media (min-width: 1023px) {
		.group-wrapper.chorus-bg {
			background: url(images/chorus-bg-3.svg) no-repeat top right;
	  		background-size: contain;
	  		min-height: 380px;
	  		overflow: hidden;
		}
	}

	@media (min-width: 1365px) {
		.group-wrapper.chorus-bg {
			background: url(images/chorus-bg-2.svg) no-repeat top right;
	  		background-size: contain;
	  		min-height: 380px;
	  		overflow: hidden;
		}
	}

	@media (min-width: 1600px) {
		.group-wrapper.chorus-bg{
			background: url(images/chorus-bg.svg) no-repeat top right;
			min-height: 400px;
		}
	}

	.chorus-image {
		position: relative;
		margin-bottom: 10px;
		text-align: center;
	}

	.chorus-image img{
		margin-bottom: 20px;
	}

	.chorus-image .no-parallax{
		display: inline-block;
	}

	.chorus-image .parallax{
		display: none;
	}


	@media(min-width: 1023px) {

		.chorus-image {
			text-align: left;
		}

		.chorus-image img{
			position: absolute;
			height: 550px;
			padding-top: 100px;
			left:60px;
			margin-bottom: 0;
		}
	}

	@media(min-width: 1023px) {
		.chorus-image .no-parallax{
			display: none;
		}

		.chorus-image .parallax{
			display: block;
		}
	}

	@media (min-width: 1079px) {
		.chorus-image img{
			padding-top:100px;
			height:550px;
			left:80px;
		}
	}

	@media (min-width: 1365px) {
		.chorus-image img{
			padding-top:120px;
			height:550px;
		}
	}

	@media (min-width: 1600px) {
		.chorus-image img{
			height: 580px;
			padding-top:160px;
			left:90px;
		}
	}

	.chorus-content .stats-content {
		margin: 20px 0;
	}

	.chorus-content .stats-content h3{
		margin-bottom: 10px;
	}

	.chorus-content .stats-content h3 b{
		color: #E15C26;
		font-weight: 900;
	}

	/*@media (min-width: 750px) {
		.chorus-content {
			padding: 10px 40px;
		}
	}

	@media (min-width: 1365px) {
		.chorus-content {
			padding: 10px 40px 10px 0;
		}
	}

	@media (min-width: 1600px) {
		.chorus-content {
			padding: 10px 30px;
		}
	}*/

	@media (max-width: 1023px) {
		.chorus .col-reorder {
			display: table;
			table-layout: fixed;
		}

		.chorus .col-reorder .col-reorder-header {
			float: none;
			display: table-header-group;
		}
		.chorus .col-reorder .col-reorder-footer {
			float: none;
			display: table-footer-group;
		}
	}

	.group.services {
		text-align: center;
	}

	.services .row {
		margin-top: 20px;
	}

	.service-tiles {
		margin:60px 0 20px;
	}

	.service-tiles-row {
		margin-bottom: 0;


		@media (min-width: 1023px) {
			margin:20px 0;
		}
	}

	.service-tile {
		background-color: #fff;
		text-align: center;
		margin-bottom: 40px;
	}

	.service-tile p{
		display: none;
	}

	.service-tile h3 {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	@media (min-width: 750px) {

		.service-tile {
			padding-bottom: 20px;
		}
		.service-tile p{
			display: block;
		}
		.service-tile h3 {
			font-size: 2.3rem;
			line-height: 3.2rem;
		}
	}

	@media (min-width: 1023px) {
		.service-tile {
			margin-bottom: 40px;
		}
	}

	.service-tile .service-tile-icon {
		display: inline-block;
		border-radius: 50%;
	    color: #ffffff;
	    font-size: 2.2rem;
	    height: 44px;
	    line-height: 44px;
	    text-align: center;
	    width: 44px;
	    margin-top:-22px;
	    margin-bottom: 10px;
	}

	.service-tile .service-tile-icon svg {
		height:44px;
	}

	.service-tile .service-tile-icon {
		-webkit-transition: 0.3s all ease;
	   	transition: 0.3s all ease;
	}

	.service-tile p {
		padding: 5px 20px 5px;
	}

	@media (min-width: 1600px) {
		.service-tile p {
			padding: 0 20px;
		}
	}

	@media (max-width: 750px) {
		.service-tiles.tiles.tiles-four-column .tile{
			width: 48.125%;
			margin-left: 3.75%;

		}

		.service-tiles.tiles.tiles-four-column .tile:first-of-type{
			margin-left: 0;
		}

		.service-tiles.tiles.tiles-four-column .second-tile + .tile{
			margin-left: 0;
		}
	}

	.service-tile.service-starting-company .service-tile-icon {
		background-color: #ef4b6d;
	}

	.service-tile.service-banking .service-tile-icon {
		background-color: #44c0f3;
	}

	.service-tile.service-business-insurance .service-tile-icon {
		background-color: #8d73b4;
	}

	.service-tile.service-tax-and-accounting .service-tile-icon {
		background-color: #b0d77d;
	}

	.service-tile.service-financial-services .service-tile-icon {
		background-color: #44c0f3;
	}

	.service-tile.service-legal .service-tile-icon {
		background-color: #8d73b4;
	}

	.service-tile.service-bookkeeping .service-tile-icon {
		background-color: #b0d77d;
	}

	.service-tile.service-expenses .service-tile-icon {
		background-color: #44c0f3;
	}

	.press-review-quote-icon {
		margin-top: -52px;
	}

	@media(min-width: 750px) {
		.press-review-quote-icon {
			margin-top: -32px;
		}
	}

	.press-reviews.group:first-of-type {
		padding-top: 30px;
	}

	.press-review {
		margin-bottom: 40px;
	}

	@media(min-width: 750px) {
		.press-review {
			margin-bottom: 30px;
		}
	}

	.press-review img{
		margin-bottom:30px;
	}

	.press-review .star-rating {
		color: #7250a0;
	}

	.press-reviews-row {
		margin: 30px 0;
	}

	.reviews-co-uk-review .star-rating {
		color: #6ABF2B;
		margin-bottom: 20px;
	}

	.reviews-co-uk-reviews .reviews-co-uk-row {
		margin: 50px 0 10px;
	}

	.reviews-co-uk-reviews .reviews-co-uk-review .review-updated {
		font-weight: 700;
	}

	.reviews-co-uk-reviews .reviews-co-uk-logo-svg {
		padding-top: 6px;
		height: 50px;
		margin-top: 10px;
	}

	@media(min-width: 750px) {
		.reviews-co-uk-reviews .reviews-co-uk-logo-svg {
			margin-top: 0;
		}
	}

	img.full-width-fit {
		width:100%;
		vertical-align: top;
	}

	.crunch-works-cta {
		-webkit-transform-style: preserve-3d;
  		-moz-transform-style: preserve-3d;
  		transform-style: preserve-3d;
  		position: relative;
  		background-image: url("images/crunch-staff-1.jpg");
	    background-position: 70% center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 450px;
	}

	@media(min-width: 750px) {
		.crunch-works-cta {
			background-position: center center;
		}
	}

	.crunch-works-cta .crunch-works-cta-content {
		position: absolute;
	  	top: 50%;
	  	-webkit-transform: translateY(-50%);
	  	-ms-transform: translateY(-50%);
	  	transform: translateY(-50%);
	  	left: 50%;
	  	-webkit-transform: translateX(-50%);
	  	-ms-transform: translateX(-50%);
	  	transform: translateX(-50%);
	  	z-index:2;

	}

	.crunch-works-cta .crunch-works-cta-background {
		 -webkit-transition: 0.3s all ease;
	   	transition: 0.3s all ease;
	   	background-color: rgba(0,0,0,0.1);
	   	height:100%;
	   	width:100%;
	   	z-index:1;
	   	top:0;
	   	right:0;
	   	bottom:0;
	   	left:0;
	   	box-shadow: 0 0 0 0 rgba(0,0,0,0.5) inset;
	   	position: absolute;

	}
	.crunch-works-cta:hover .crunch-works-cta-background {
		background-color: rgba(0,0,0,0.1);
		/*box-shadow: 0 0 4px 1px rgba(0,0,0,0.5) inset;*/
	}

	.crunch-works-cta .crunch-works-cta-content h2{
		color: #fff;
	}



	.videos-about-us.group {
    	width: 100%;
    	text-align: center;
    	padding-left: 0;
    	padding-right: 0;
    	padding-top: 0;
	}

	.videos-about-us .video-container {
		width: 100%;
		height: 360px;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	@media (min-width: 1023px) {
		.videos-about-us .video-container {
			width: 50%;
		}
	}

	.videos-about-us .video-container .video-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height:100%;
		color: #fff;
		width:100%;
		cursor: pointer;
	}

	.videos-about-us .video-container .video-overlay a.video-trigger{
		width:100%;
		height: 100%;
		padding: 8% 15%;
		display: inline-block;
		color: #f4f5f5;
		background-color: rgba(44,47,47, 0.6);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	@media(min-width: 1079px) {
		.videos-about-us .video-container .video-overlay a.video-trigger{
			padding: 6% 15%;
		}
	}

	.videos-about-us .video-container .video-overlay a.video-trigger:hover{
		background-color: rgba(44,47,47, 0.75);
		color: #fff;
	}

	.videos-about-us .video-container.video1 {
		background-image: url(images/video-bg-how-we-work-with-you.jpg);
	}

	.videos-about-us .video-container.video2 {
		background-image: url(images/video-bg-inside-crunch-hq.jpg);

	}

	.videos-about-us .video-container .video-overlay .play-button {
		border: 3px solid #f4f5f5;
	    border-radius: 50%;
	    display: inline-block;
	    font-size: 4.4rem;
	    height: 80px;
	    line-height: 86px;
	    padding-left: 9px;
	    text-align: center;
	    width: 80px;
	    margin-bottom: 40px;
	   	font-family: sans-serif;
	   	cursor:pointer;
	   	transition: all 0.5s ease 0s;

	}

	.videos-about-us .video-container .video-overlay a.video-trigger:hover .play-button{
		color: #44c0f3;
		border-color: #44c0f3;
	}

	.videos-about-us .video-container .video-overlay.wistia_embed [id$='thumb_container'] {
		max-width: 100%;
		min-width: 100%;
		height: 100% !important;
		width: 100% !important;

	}

	/*  For view more items grid */

	.js-grid-item img {
		max-width: 100%;
		vertical-align: top;
	}

	@media (min-width: 1023px) {
		.js-grid-three-column .js-grid-item {
			width: 30.8333333333%;
		}
		.js-grid-three-column .js-grid-gutter {
			width: 3.75%
		}
	}

	.view-more-content {

	}

	.view-more-content.start-expansion {
		max-height:0;
	}

	.view-more-content.expanded {

	}

	.view-more-content-short, .view-more-content-long {
		display: inline;
	}

	.view-more-content-short.hidden, .view-more-content-long.hidden {
		display: none;
	}

	.view-more-content-short:before, .view-more-content-long:before {
		display: block;
		content:'';
	}

	.view-more-content-long {
		padding-right: 5px;
	}

	.view-more-content-trigger:after {
		display: block;
		content: '';
		margin-bottom: 1.9rem;
	}

	/*@media (min-width: 1365px) {

		.tiles-wide .tile {
			width: 23.828125%;
		}
		.tiles-wide .tile.second-tile,
		.tiles-wide .second-tile + .tile,
		.tiles-wide .third-tile + .tile {
			margin-left: 1.5625%;
		}
		.tiles-wide .fourth-tile + .tile {
			margin-left: 0;
		}

	}*/

	.real-acc .acc-grid .acc-grid-item.tile {
			margin-bottom: 50px;
	}

	.real-acc .acc-grid .acc-grid-item.tile:last-child {
			margin-bottom: 0px;
	}

	@media (min-width: 750px) {

		.real-acc .acc-grid .acc-grid-item.tile.third-tile,
		.real-acc .acc-grid .acc-grid-item.tile.third-tile + .tile {
			margin-bottom: 0px;
		}
	}

	@media (min-width: 1023px) {

		.real-acc .acc-grid .acc-grid-item.tile.third-tile {
			margin-bottom: 30px;
		}

		.real-acc .acc-grid .acc-grid-item.tile.fourth-tile,
		.real-acc .acc-grid .acc-grid-item.tile.fourth-tile + .tile {
			margin-bottom: 0px;
		}
	}

	@media (min-width: 1365px) {

		.real-acc .acc-grid .acc-grid-item.tile {
			width: 30.8333333333%;
		}

		.real-acc .acc-grid .fourth-tile + .tile {
			margin-left: 0;
		}

		.real-acc .acc-grid .acc-grid-item.tile.third-tile,
		.real-acc .acc-grid .acc-grid-item.tile.third-tile + .tile {
			margin-bottom: 0px;
		}

		.real-acc .acc-grid .acc-grid-item.tile:last-child {
			margin-bottom: 0px;
		}

		.real-acc .acc-grid .acc-grid-item.tile {
			margin-bottom: 0px;
		}
	}

.bg-video-container {
    position: relative;
    overflow: hidden;
}
.bg-video-container .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("images/home-bg-video-poster.jpg");
}

.bg-video-container .bg-video > div {
	display: none;
}

@media (min-width: 1023px) {

	.bg-video-container .bg-video > div {
		display: block;
	}

	.bg-video-container .bg-video.video-ready {
		background-image: none;
	}
}

.bg-video-container .bg-video-overlay {
    background-color: rgba(44, 47, 47, 0.7);
    z-index: 100;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.bg-video-container .bg-video-overlay.video-ready {
	 background-color: rgba(44, 47, 47, 0.7);
}



.new-design .title-area {
	background-image: none;
}

#tileTitle_blog .tile--advert__title {
	font-size: 3.8rem;
	line-height: 4.1rem;
}

.pop-art-grid.c-carousel__slider {
	margin: 40px 0 0 0;
	position: absolute;
}

.stripe--grey {
	background: #EBECEC;
}
.c-progress-bar {
	margin-bottom: 30px;
}

h2.c-carousel-heading {
	margin-bottom: 0;
}
